/*Colors  */
:root {
  --main-color: #3581ff;
  --primary-color: #e3e3e3;
  --secondory-color: #f6f5f5;
}

/*  */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
  form {
    padding: 25px;
    background-color: var(--secondory-color);
    width: 450px;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
  
  form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
  }
  
  form .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  form label {
    font-size: 15px;
    margin-bottom: 7px;
  }
  
  form input{
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
background-color: var(--primary-color);
    border-radius: 3px;
    border: none;
  }
  
  form i {
    position: absolute;
    right: 0px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    width: 45px;
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
  }
  
  form .password i {
    cursor: pointer;
  }
  
  .submit-btn {
    margin-top: 30px;
  }
  
  .submit-btn input {
    color:var(--secondory-color);
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background-color: var(--main-color);
    transition: 0.2s ease;
  }
  
  form .info {
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
  }
  
  form .info a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    padding-left: 10px;
  }
  
  form .error {
    color: #ff0000;
    font-size: 14px;
    right: 0;
    position: absolute;
  }
  
  form .success {
    color:rgb(0, 252, 4);
    font-size: 14px;
    right: 0;
    position: absolute;
    background-color: var(--secondory-color);
  }
  
  .main-container .success .error {
    padding: 20px 20px;
    background-color: var(--secondory-color);
    color: #ff0000;
    width: 30%;
    position: absolute;
    bottom: 30px;
    right: 0;
    border-radius: 13px 0 0 13px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .main-container .success .success {
    padding: 20px 20px;
    background-color: rgba(245, 245, 245, 0.638);
    color:rgb(0, 252, 4);
    width: 30%;
    position: absolute;
    bottom: 30px;
    right: 0;
    border-radius: 13px 0 0 13px;
    font-weight: 600;
    font-size: 20px;
  }
  .main-container .success i
  {
  padding-left: 10px;
  font-size: 25px;
  }
  /* media querry */
@media screen and (max-width: 1440px) {
  form {
    width: 450px;
  }
}

@media screen and (max-width: 1024px) {
  form {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {

  .menu-toggle {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--secondory-color);
    transition: 0.5s;
  }

  .nav-list.open {
    display: flex;
  }

  .nav-list li {
    padding: 10px;
    text-align: center;
  }
  form {
    width: 350px;
    padding: 15px;
  }
  form input
  {
    height: 42px;
    font-size: 14px;
  }
  form i
  {
    height: 40px;
    line-height: 40px;
  }
  form label
  {
    font-size: 14px;
  }
  form .info
  {
    font-size: 14px;
  }
  .submit-btn input
  {
    font-size: 14px;
    padding: 10px 0;
  }
  form .error
  {
    font-size: 12px;
  }
  .main-container .success .error
  {
    background-color: transparent;
    position: relative;
    width: 100%;
  }
  .main-container .success .success
  {
    background-color: transparent;
    position: relative;
    width: 100%;
    color:rgb(0, 252, 4);
  }
}

@media screen and (max-width: 425px) {
  form {
    width: 350px;
    padding: 15px;
  }
  form input
  {
    height: 42px;
    font-size: 14px;
  }
  form i
  {
    height: 40px;
    line-height: 40px;
  }
  form label
  {
    font-size: 14px;
  }
  form .info
  {
    font-size: 14px;
  }
  .submit-btn input
  {
    font-size: 14px;
    padding: 10px 0;
  }
  form .error
  {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  form {
    width: 300px;
    padding: 15px;
  }
  form input
  {
    height: 40px;
    font-size: 12px;
  }
  form i
  {
    height: 40px;
    line-height: 40px;
  }
  form label
  {
    font-size: 12px;
  }
  form .info
  {
    font-size: 12px;
  }
  .submit-btn input
  {
    font-size: 14px;
    padding: 10px 0;
  }
  form .error
  {
    font-size: 10px;
    margin: 5px 0;
  }
}

/*  */