/*Colors  */
:root {
    --main-color: #3581ff;
    --primary-color: #e3e3e3;
    --secondory-color: #f6f5f5;
}



/*  */
header {
    height: 70px;
    padding: 0 30px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: var(--main-color);
}

.icn {
    font-size: 25px;
    color: var(--main-color);
}

.menuicn {
    cursor: pointer;
    color: var(--secondory-color);
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 60px;
}

/* .searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: whitesmoke;
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
} */

/* .searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondory-color);
    cursor: pointer;
} */

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

#dot {
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: #04ff04;
    border-radius: 50%;
    right: 0;
    top: 0;
}

.message .icn {
    color: var(--secondory-color);
}

.dp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-dashbord {
    display: flex;
    width: 100%;
    position: relative;
    /* background-color: var(--secondory-color); */
}

.dpicn {
    font-size: 40px;
    color: var(--secondory-color);
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 80px 30px 30px 30px;
    /* background: var(--secondory-color); */
}

.main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    height: 100%;
    width: 278px;
    background-color: var(--main-color);
    /* position: absolute; */
    top: 0px;
    left: 00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 20px 0px;
}

.navcontainer {
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 86px;
}

.nav-option {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

/* Add this CSS to your stylesheet */
.active {
    background-color: #dbeafe !important;
    color: black;
    /* Add any other styles for the active state here */
}



.nav ul li .icn {
    color: var(--main-color);
    height: 30px;
    width: 30px;
    background-color: var(--secondory-color);
    padding: 5px;
    border-radius: 10px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navcontainer .nav a {
    color: var(--secondory-color);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.option {
    background-color: var(--Border-color);
    cursor: pointer;
}

.nav .nav-option i {
    background-color: var(--main-color);
    color: var(--secondory-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.nav .nav-option i:hover {
    background-color: var(--secondory-color);
    color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
}

.box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    background-color: var(--main-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
}

.box .icn {
    font-size: 50px;
    color: var(--secondory-color);
}

.box .text {
    color: var(--secondory-color);
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

.report-container {
    height: 100%;
    width: 100%;
    margin: 70px auto 0px auto;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 0px 20px 20px 20px;
}

.report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 2px 20px;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 20px;
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);
}

.view {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: var(--secondory-color);
    color:var(--main-color);
    font-size: 15px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 10px 0;
    background-color: var(--secondory-color);
    border-radius: 15px;
}

.report-topic-heading,
.item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
}

.report-topic-heading .t-op {
    color: var(--main-color);
}

.items {
    width: 1120px;
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.main-dashbord .btn1 {
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    justify-content: end;
}
.main-dashbord .btn1 a
{
    text-decoration: none;
    color: #ffffff;
}

.main-dashbord .btn2 {
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}
.main-dashbord .btn2 a
{
    text-decoration: none;
    color: #ffffff;
}

.main-dashbord .report-container table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.main-dashbord .main .report-container table thead {
    color: var(--main-color);
    text-align: left;
    text-transform: uppercase;
}

.main-dashbord .report-container table thead th {
    padding: 10px 20px;
    border-bottom: 3px solid var(--primary-color);
}
.main-dashbord .report-container table tbody tr
{
    border-bottom: 2px solid var(--primary-color);
}
.main-dashbord .report-container table tbody tr:last-child
{
    border: none;
}
.main-dashbord .report-container table tbody td {
    padding: 10px 20px;
}

.dash-info {
    height: 100%;
    width: 100%;
    padding: 80px;
}

.Profile {
    padding: 80px;
    width: 100%;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Profile .information {
    border-radius: 20px;
    width: 100%;
    background-color:var(--primary-color);
    padding: 25px 40px;
    display: flex;
    align-items: center;
}

.Profile .information .image {
    height: 200px;
    width: 200px;
}

.Profile .information .image .img-profile {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}

.Profile .information .description h3 {
    color: var(--main-color);
    font-size: 30px;
}

.Profile .information .description {
    padding-left: 40px;
}

.Profile .information .description h5 {
    color: black;
    font-size: 20px;
}

.Profile .information .description h4 {
    color: var(--main-color);
    font-size: 22px;
}

.Profile .information .description p {
    color: rgb(67, 67, 67);
    font-size: 18px;
}

.Profile .information .description h3 {
    color: var(--main-color);
    font-size: 25px;
}

.Profile .report-container
{
    background-color: var(--main-color);
}
.Profile .report-header{
    color: white;
    text-align: center;
    display: block;
    margin: 0;
    padding: 20px 0px 0px 0px;
}
/* Responsive CSS Here */
@media screen and (max-width:1024px) {
    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 15px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 800px;
    }

    .Profile {
        padding: 30px 40px;
    }

    .Profile .information {
        padding: 20px 30px;
    }

    .Profile .information .description {
        padding: 0;
    }

    .Profile .information .image {
        height: 150px;
        width: 150px;
    }

    .Profile .information .image .img-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solid var(--main-color);
    }

    .Profile .information .description {
        padding-left: 30px;
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 22px;
    }

    .Profile .information .description h5 {
        color: black;
        font-size: 15px;
    }

    .Profile .information .description h4 {
        color: var(--main-color);
        font-size: 20px;
    }

    .Profile .information .description p {
        color: rgb(67, 67, 67);
        font-size: 12px;
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 25px;
    }

    .Profile .user-information {
        padding: 40px 0;
    }

    .Profile .user-information .description {
        padding: 20px;
        background-color: var(--main-color);
        border-radius: 20px;
        overflow-x: auto;
    }

    .Profile .user-information .description h3 {
        color: var(--secondory-color);
        font-size: 25px;
    }

    .Profile .user-information .description table {
        width: 100%;
        padding: 10px 40px;
        background-color: var(--secondory-color);
        border-radius: 20px;
        margin: 10px 0;
        height: 100%;
    }
}

@media screen and (max-width: 850px) {
    .nav-img {
        height: 30px;
    }

    .nav-option {
        gap: 30px;
    }

    .nav-option h3 {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 700px;
    }

    .navcontainer {
        height:100%;
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }

    .nav {
        width: 100%;
        position: absolute;
    }

    .navclose {
        left: 00px;
    }

    .searchbar {
        display: none;
    }

    .main {
        padding: 40px 30px 30px 30px;
    }

    .searchbar2 {
        width: 100%;
        display: flex;
        margin: 0 0 40px 0;
        justify-content: center;
    }

    .searchbar2 input {
        width: 250px;
        height: 42px;
        border-radius: 50px 0 0 50px;
        background-color: var(--background-color3);
        padding: 0 20px;
        font-size: 15px;
        border: 2px solid var(--secondary-color);
    }

    .nav-upper-options {
        gap: 15px;
        align-items: flex-start;
    }

    .Profile {
        padding: 30px 15px;
    }

    .Profile .information {
        padding: 20px 30px;
    }

    .Profile .information .description {
        padding: 0;
    }

    .Profile .information .image {
        height: 150px;
        width: 150px;
        margin: 0px auto 0px auto;
    }

    .Profile .information .image .img-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solidvar(--main-color);
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 22px;
    }

    .Profile .information .description h5 {
        color: black;
        font-size: 15px;
    }

    .Profile .information .description h4 {
        color: var(--main-color);
        font-size: 20px;
    }

    .Profile .information .description p {
        color: rgb(67, 67, 67);
        font-size: 12px;
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 25px;
    }

    .Profile .user-information {
        padding: 40px 0;
    }

    .Profile .user-information .description {
        padding: 20px;
        background-color: var(--main-color);
        border-radius: 20px;
        overflow-x: auto;
    }

    .Profile .user-information .description h3 {
        color: var(--secondory-color);
        font-size: 25px;
    }

    .Profile .user-information .description table {
        width: 100%;
        padding: 10px 40px;
        background-color: var(--secondory-color);
        border-radius: 20px;
        margin: 10px 0;
        height: 100%;
    }
    
    .main-dashbord .btn2 {
        width: 100px;
        text-align: center;
        padding: 10px 20px;
        background-color: rgb(255, 0, 0);
        color: #ffffff;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: 490px) {
    .message {
        display: none;
    }

    .logosec {
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        font-size: 20px;
    }

    .menuicn {
        height: 25px;
    }

    .nav-img {
        height: 25px;
    }

    .nav-option {
        gap: 25px;
    }

    .nav-option h3 {
        font-size: 12px;
    }

    .nav-upper-options {
        gap: 15px;
        align-items: flex-start;
    }

    .recent-Articles {
        font-size: 20px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 550px;
    }

    .Profile {
        padding: 30px 20px;
    }

    .Profile .information {
        display: block;
        padding: 20px 30px;
    }

    .Profile .information .description {
        padding: 0;
    }

    .Profile .information .image {
        height: 150px;
        width: 150px;
        margin: 0px auto 20px auto;
    }

    .Profile .information .image .img-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solidvar(--main-color);
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 22px;
    }

    .Profile .information .description h5 {
        color: black;
        font-size: 15px;
    }

    .Profile .information .description h4 {
        color: var(--main-color);
        font-size: 20px;
    }

    .Profile .information .description p {
        color: rgb(67, 67, 67);
        font-size: 14px;
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 25px;
    }

    .Profile .user-information {
        padding: 40px 0;
    }

    .Profile .user-information .description {
        padding: 20px;
        background-color: var(--main-color);
        border-radius: 20px;
        overflow-x: auto;
    }

    .Profile .user-information .description h3 {
        color: var(--secondory-color);
        font-size: 25px;
    }

    .Profile .user-information .description table {
        width: 100%;
        padding: 10px 40px;
        background-color: var(--secondory-color);
        border-radius: 20px;
        margin: 10px 0;
        height: 100%;
    }
    .dash-info {
        padding: 20px;
    }
    .main-dashbord .btn2 {
        width: 100px;
        text-align: center;
        padding: 10px 20px;
        background-color: rgb(255, 0, 0);
        color: #ffffff;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .recent-Articles {
        font-size: 17px;
    }

    .view {
        width: 60px;
        font-size: 10px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 10px 5px 10px;
    }

    .searchbtn img {
        height: 20px;
    }

    .Profile {
        padding: 30px 15px;
    }

    .Profile .information {
        display: block;
        padding: 20px 30px;
    }

    .Profile .information .description {
        padding: 0;
    }

    .Profile .information .image {
        height: 150px;
        width: 150px;
        margin: 0px auto 20px auto;
    }

    .Profile .information .image .img-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solidvar(--main-color);
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 22px;
    }

    .Profile .information .description h5 {
        color: black;
        font-size: 15px;
    }

    .Profile .information .description h4 {
        color: var(--main-color);
        font-size: 20px;
    }

    .Profile .information .description p {
        color: rgb(67, 67, 67);
        font-size: 12px;
    }

    .Profile .information .description h3 {
        color: var(--main-color);
        font-size: 25px;
    }

    .Profile .user-information {
        padding: 40px 0;
    }

    .Profile .user-information .description {
        padding: 20px;
        background-color: var(--main-color);
        border-radius: 20px;
        overflow-x: auto;
    }

    .Profile .user-information .description h3 {
        color: var(--secondory-color);
        font-size: 25px;
    }

    .Profile .user-information .description table {
        width: 100%;
        padding: 10px 40px;
        background-color: var(--secondory-color);
        border-radius: 20px;
        margin: 10px 0;
        height: 100%;
    }

    .dash-info {
        padding: 15px;
    }
    .main-dashbord .btn2 {
        width: 100px;
        text-align: center;
        padding: 10px 20px;
        background-color: rgb(255, 0, 0);
        color: #ffffff;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .recent-Articles {
        font-size: 12px;
    }

    .view {
        width: 50px;
        font-size: 8px;
        height: 27px;
    }

    .report-header {
        height: 60px;
        padding: 10px 5px 5px 5px;
    }

    .t-op {
        font-size: 12px;
    }

    .t-op-nextlvl {
        font-size: 10px;
    }

    .report-topic-heading,
    .item1,
    .items {
        width: 300px;
    }

    .report-body {
        padding: 10px;
    }

    .label-tag {
        width: 70px;
    }

    .searchbtn {
        width: 40px;
    }

    .searchbar2 input {
        width: 180px;
    }
}
